  h3
  {
    font-size: 25px !important;
  }
  .btn-success:hover{
    background-color: rgb(53, 182, 44);
  }
  canvas {
    
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  @keyframes example{
    from{box-shadow: 5px 5px 40px rgb(255, 200, 0);}
    to{box-shadow: 5px 5px 40px rgb(252, 231, 2);}
  }
